---
import Layout from "../layouts/Layout.astro";
import FaqSection from "../components/FaqSection.astro"
import Autoatendimento from "../components/Autoatendimento.astro";
import BannerAtendimento from "../components/BannerAtendimento.astro"
---

<Layout title="Internet Fibra Óptica">
    <div class="mt-[15%]">
        <FaqSection />
        <BannerAtendimento />
        <Autoatendimento />
    </div>
	
</Layout>
