---

import Box from "../components/Box.astro";

---

<!-- AUTOATENDIMENTO -->
<div class="container-box my-24">
    <h2 class="tittle">Autoatendimento para clientes</h2>
    <img class="line" src="../../public/images/Line.png" alt="" />
    <div class="flex justify-around max-lg:flex-col max-lg:justify-center max-lg:items-center">
        <Box 
            href="#"
            image="../../public/images/Icon-ticket.svg"
            tittle="2° Via do boleto"
        />
        <Box 
            href="#"
            image="../../public/images/Atendimento.svg"
            tittle="Área do cliente"
        />
        <Box 
            href="#"
            image="../../public/images/Speed.svg"
            tittle="Teste de velocidade"
        />
        <Box 
            href="https://api.whatsapp.com/send?phone=5561991936935&text=Ol%C3%A1!%20Vim%20do%20site"
            image="../../public/images/Chat.svg"
            tittle="Fale com o suporte"
        />
    </div>
</div>
<!-- AUTOATENDIMENTO -->
