---
import Faq from "../components/Faq.astro";
---


<!-- FAQ -->
<div class="container-box">
    <h2 class="tittle">Tire suas dúvidas aqui</h2>
    <img class="line" src="../../public/images/Line.png" alt="" />
    <div>
        <Faq />
    </div>
</div>
<!-- FIM FAQ -->