---

    import Planos from "../components/PlanosInternet.astro";

---

<!-- Titulo -->
<div class="container-box">
    <h2 class="tittle">Planos Residenciais</h2>
    <img class="line" src="../../public/images/Line.png" alt="" />
</div>
<!-- FIM DO TITULO -->
<!-- Planos de Internet -->
<div class="flex flex-wrap gap-0 justify-around items-center px-[5%] mt-6">
    <Planos mega="250" valor="99,90" NameTable="SMART BASIC" BrindeMega="250" canaisQtd="40"/>
    <Planos mega="350" valor="119,90" NameTable="SMART PLUS" BrindeMega="150" canaisQtd="60"/>
    <Planos mega="500" valor="139,90" NameTable="SMART TOTAL" BrindeMega="250" canaisQtd="80"/>
    <Planos mega="700" valor="149,90" NameTable="SMART TOTAL" BrindeMega="200" canaisQtd="100"/>
</div>
<!-- FIM Planos de Internet -->